.jumbotron {
   border: 1px solid black;
   opacity: 0.9;
   padding-top: 3em;
}

.jumbotron #intro{

	/*text-indent: 50px;*/
}

.con-section{
	background-color: white;
	border: 1px solid black;

	opacity: 0.7;
}

.card {
	margin-bottom: 200px;
}

#section7 {
	padding-top: 50px;
}

#section6 {
	padding-top: 50px;
}

a {
	color: black;
}

.xsPhoneNoPadding {
	padding-top: 10px;
/*border:1px solid black ;*/
}

.xsEmailPadding {
	padding-top: 10px;
/*border:1px solid black ;*/
}

i {
	color: black;
	
}


h1 {
	/*border:1px solid black ;*/
}

body {
	background-color: orange;
	background-image: url(../img/Opacityx149x1263x4459Untitled.png);
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-size: cover;
	/*background-attachment: fixed;*/
}
/*.container {
	border:1px solid black ;
}
.row {
	border:1px solid red ;
}

.col-6 {
	border:1px solid red ;
}

.col-5 {
	border:1px solid red ;
	}*/

/*	// X-Small devices (portrait phones, less than 576px)
	// No media query for `xs` since this is the default in Bootstrap

	// Small devices (landscape phones, 576px and up)*/
	@media (min-width: 576px) {

		body {
			background-color: red;
		}

		/*a {
	color: red;*/
}

	}

/*	// Medium devices (tablets, 768px and up)*/
	@media (min-width: 768px) {

		body {
			background-color: blue;
		}  

		/*a {
	color: green;*/
	}

/*	// Large devices (desktops, 992px and up)*/
	@media (min-width: 992px) {
		body {
			background-color: green;
		} 
	}

/*	// X-Large devices (large desktops, 1200px and up)*/
	@media (min-width: 1200px) { 
		body {
			background-color: yellow;
		}
	}

/*	// XX-Large devices (larger desktops, 1400px and up)*/
	@media (min-width: 1400px) { 
		body {
			background-color: purple;
		}
	}