body {

	background-color: white;
}



.jumbotron #intro{

	/*text-indent: 50px;*/
}

.jumbotron {
	border: 1px solid black;
	opacity: 0.9;
	margin-top: 80px;
	padding-top: 0em;
	box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, .9);
}

.jumbotron h1 {
	
	margin-top: 10px;
}


.con-section{

	background-color: white;
	border: 1px solid black;

	opacity: 0.9;
	box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 1);
}

.carousel .carousel-inner{
	border:1px solid black;
	box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 1);
	
}

.card {
	box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 1);
}

.card {
	margin-bottom: 200px;
}

#section1 {
	/*border: thin solid red;*/
	margin-bottom: 22px;
}

#section2 {
	/*border: thin solid red;*/
	margin-bottom: 70px;
/*	padding-top: 60px;
	padding-bottom: 60px;*/
}

#section3 {
	/*border: thin solid red;*/
	margin-bottom: 70px;
/*	padding-top: 60px;
	padding-bottom: 60px;*/
}

#section4{
/*border: thin solid red;*/
	margin-bottom: 22px;
}

#section5 {
/*border: thin solid red;*/
margin-bottom: 70px;
}

#section6 {
	/*border: thin solid red;*/
/*margin-bottom: 70px;*/
padding-top: 70px;
 
}

#section6 a {
	/*color: black;*/
}

#section7 {
	/*border: thin solid red;*/
	padding-top: 70px;
}


#section7 a  {
	/*border:1px solid black;*/
	/*color: black;*/
}




.xsPhoneNoPadding {
	padding-top: 10px;
	/*border:1px solid black ;*/
}

.xsEmailPadding {
	padding-top: 10px;
	/*border:1px solid black ;*/
}

.bi-house {
	/*border: thin solid black;*/
	font-size: 1.5rem;

}

#WorkshopCon {
	/*border: thin solid black;*/
	padding-top: 14px;
}

#WorkshopPack {
	/*border: thin solid black;*/
	padding-top: 14px;
}

#Contact {
	/*border: thin solid black;*/
	padding-top: 14px;
}



i {
	color: black;
	
}

h1 {
	text-shadow: 2px 2px 2px black;
	/*padding-top: 10px;*/
	

}

h2, h3, h4 {
	text-shadow: 1px 1px 1px black;
}

p {
	/*border:1px solid black ;*/
	text-shadow: 1px 1px 1px black;
}

h3 {
	/*border: thin solid black;*/
	padding-top: 10px;
}

body {
	/*background-color: orange;*/
	background-image: url(../img/1263x4459Untitled.png);
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-size: cover;
	/*background-attachment: fixed;*/
}



/*.container {
	border:1px solid black ;
}
.row {
	border:1px solid red ;
}

.col-6 {
	border:1px solid red ;
}

.col-5 {
	border:1px solid red ;
	}*/

/*	// X-Small devices (portrait phones, less than 576px)
	// No media query for `xs` since this is the default in Bootstrap

	// Small devices (landscape phones, 576px and up)*/
	@media (min-width: 576px) {

		body {
			/*background-color: red;*/
		}

		/*a {
			color: red;*/
		}

	}

	/*	// Medium devices (tablets, 768px and up)*/
	@media (min-width: 768px) {

		body {
			/*background-color: blue;*/
		}  

		/*a {
			color: green;*/
		}

		/*	// Large devices (desktops, 992px and up)*/
		@media (min-width: 992px) {
			body {
				/*background-color: green;*/
			} 
		}

		/*	// X-Large devices (large desktops, 1200px and up)*/
		@media (min-width: 1200px) { 
			body {
				/*background-color: yellow;*/
			}
		}

		/*	// XX-Large devices (larger desktops, 1400px and up)*/
		@media (min-width: 1400px) { 
			body {
				/*background-color: purple;*/
			}
		}